
# So we don't do anything stupid.
#
.ssh
src
*.pid

.ICEauthority
.Xauthority
.bash_history
.bash_logout
.byobu
.cache/
.config/gtk-2.0/
.config/gtk-3.0/
.config/ibus/
.config/libaccounts-glib/
.config/nautilus/
.config/pulse/
.config/sublime-text-3/Cache/
.config/sublime-text-3/Index/
.config/sublime-text-3/Installed Packages/
.config/sublime-text-3/Local/
.config/sublime-text-3/Packages/ColorPicker/
.config/sublime-text-3/Packages/HTML/
.config/sublime-text-3/Packages/Rails/
.config/sublime-text-3/Packages/SublimeLinter/
.config/sublime-text-3/Packages/SublimeREPL/
.config/sublime-text-3/Packages/bz2/
.config/sublime-text-3/Packages/ssl-linux/
".config/sublime-text-3/Packages/User/Package Control.last-run"
".config/sublime-text-3/Packages/User/Package Control.cache"
.config/sublime-text-3/Packages/User/Package Control.merged-ca-bundle
.config/sublime-text-3/Packages/User/Package Control.user-ca-bundle

.config/unity/
.config/user-dirs.dirs
.config/user-dirs.locale
.dmrc
.local/
.npm/
.viminfo
.xsession-errors
.xsession-errors.old
.zcompdump

%gconf.xml

